<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img src="img/logo fondo azul 2.png" class="logo" alt="RentaAutos"></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="userform">
                <span class="oi oi-star" aria-hidden="true"></span> Usuario
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="vehiculos">
                <span class="oi oi-star" aria-hidden="true"></span> Vehículos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="user">
                <span class="oi oi-person" aria-hidden="true"></span> Vista usuario
            </NavLink>
        </li>
    </ul>   
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
