@page "/"

<h1>Panel de Control</h1>

<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Marca</label>
    <input type="text" class="form-control" id="marca" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>
<br>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <td>1</td>
      <td>Nissan</td>
      <td><button type="button" class="btn btn-primary"><span class="oi oi-pencil"></span></button>
        <button type="button" class="btn btn-danger"><span class="oi oi-trash"></span></button>
      </td>
    </tbody>
  </table>
</div>