@page "/userform"


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Rodando por Colombia </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Caracteristicas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Precios</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>

<h2 style="text-align: center;"> REGISTRO DE USUARIO</h2>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">No. de Cédula</label>
                <input type="text" class="form-control" id="formGroupExampleInput"
                    placeholder="No. Número de Cédula de Ciudadanía">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Nombres</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombres">
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Apellidos">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Dirección">
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Telefono">
                </div>
            </div>

        </div>

    </div>
    <button style="margin-left: 450px;" ;" type="button" class="btn btn-outline-dark">Registrarse</button>
    
    <br>
    <br>
    <br>
</div>