@page "/user"

<div class="hero" style="background-image: url('img/hero_1_a.jpg');">
 <div class="container">
              <h1><strong>Renta tu vehículo</strong><br> está al alcance de la mano.</h1>
             
               <form class="trip-form">
                
                <div class="row align-items-center">
                  
                  <div class="mb-3 mb-md-0 col-md-3">
                    <select name="" id="" class="custom-select form-control">
                      <option value="">Selecciona el tipo</option>
                      <option value="">Automovil</option>
                      <option value="">Camioneta</option>
                      <option value="">Todo Terreno</option>
                      <option value="">Mico Bus</option>
                    </select>
                  </div>
                  <div class="mb-3 mb-md-0 col-md-3">
                    <div class="form-control-wrap">
                      <input type="text" id="cf-3" placeholder="Fecha Inicio" class="form-control datepicker px-3">
                      <span class="icon icon-date_range"></span>

                    </div>
                  </div>
                  <div class="mb-3 mb-md-0 col-md-3">
                    <div class="form-control-wrap">
                      <input type="text" id="cf-4" placeholder="Fecha Final" class="form-control datepicker px-3">
                      <span class="icon icon-date_range"></span>
                    </div>
                  </div>
                  <div class="mb-3 mb-md-0 col-md-3">
                    <input type="submit" value="Buscar Ahora" class="btn btn-primary btn-block py-3">
                  </div>
                </div>
                
              </form>
            </div>
        </div>
        <br>
        <br>
        <br>
<h2>Como Trabajamos</h2>
<h6> 3 Pasos sencillos para empezar</h6>
<div class="row row-cols-1 row-cls-md g-4 mb-3">
    <div class="col">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">1. Primer Paso</div>
                    <div class="card-body text-primary">
                    <h5 class="card-title">Selecciona tu vehículo </h5>
                    <p class="card-text">Escoge el vehículo que se ajuste a tus necesidades</p>
                    </div>
            </div>
            </div>
    <div class="col">           
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">2.Segundo Paso</div>
                    <div class="card-body text-primary">
                    <h5 class="card-title">Llena el Formulario</h5>
                    <p class="card-text">Son los datos que se requieren para realizar el alquiler.</p>
                    </div>
                </div>
                </div>
    <div class="col">           
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">3. Tercer Paso</div>
                    <div class="card-body text-primary">
                    <h5 class="card-title">Realiza tu pago</h5>
                    <p class="card-text">Tenemos la facilidad de recibir cualquier tarjeta credito.</p>
                    </div>
                </div>
            </div>
      </div>

  <div class="site-section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-7 text-center order-lg-2">
              <div class="img-wrap-1 mb-5">
                <img src="img/feature_01.png" alt="Image" class="img-fluid">
              </div>
            </div>
            <div class="col-lg-4 ml-auto order-lg-1">
              <h3 class="mb-4 section-heading"><strong>Puede aprovechar fácilmente nuestra promoción para alquilar un automóvil.</strong></h3>
              <p class="mb-5">Ahorra dinero, muévete con libertad y comodidad por el tiempo que requieras.</p>
              
              <p><a href="#" class="btn btn-primary">Comunícate con nosotros </a></p>
            </div>
          </div>
        </div>
      </div>   

 <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h2 class="section-heading"><strong>Vehículos disponibles para ti.</strong></h2>
            <p class="mb-5">Elige el vehículo de tu preferencia.</p>    
          </div>
        </div>
        

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">

            <div class="listing d-block  align-items-stretch">
              <div class="listing-img h-100 mr-4">
                <img src="img/car1.png" alt="Image" class="img-fluid">
              </div>
              <div class="listing-contents h-100">
                <h3>Chevrolet Spark</h3>
                <div class="rent-price">
                  <strong>$96.000</strong><span class="mx-1">/</span>Día
                </div>
                <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                  <div class="listing-feature pr-4">
                    <span class="caption">Equipaje:</span>
                    <span class="number">2</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Puertas:</span>
                    <span class="number">5</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Pasajeros:</span>
                    <span class="number">5</span>
                  </div>
                </div>
                <div>
                  <p>Línea Economica</p>
                  <p><a href="#" class="btn btn-primary btn-sm">Rentar Ahora</a></p>
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">

            <div class="listing d-block  align-items-stretch">
              <div class="listing-img h-100 mr-4">
                <img src="img/car2.png" alt="Image" class="img-fluid">
              </div>
              <div class="listing-contents h-100">
                <h3>Chevrolet Sail</h3>
                <div class="rent-price">
                  <strong>$132.500</strong><span class="mx-1">/</span>Día
                </div>
                <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                  <div class="listing-feature pr-4">
                    <span class="caption">Equipaje:</span>
                    <span class="number">3</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Puertas:</span>
                    <span class="number">5</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Pasajeros:</span>
                    <span class="number">5</span>
                  </div>
                </div>
                <div>
                  <p>Compacto Económico.</p>
                  <p><a href="#" class="btn btn-primary btn-sm">Rentar Ahora</a></p>
                </div>
              </div>

            </div>
          </div>
          

          <div class="col-md-6 col-lg-4 mb-4">

            <div class="listing d-block  align-items-stretch">
              <div class="listing-img h-100 mr-4">
                <img src="img/car3.png" alt="Image" class="img-fluid">
              </div>
              <div class="listing-contents h-100">
                <h3>Ford Focus</h3>
                <div class="rent-price">
                  <strong>$195.000</strong><span class="mx-1">/</span>Día
                </div>
                <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                  <div class="listing-feature pr-4">
                    <span class="caption">Equipaje:</span>
                    <span class="number">4</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Puertas:</span>
                    <span class="number">4</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Pasajeros:</span>
                    <span class="number">4</span>
                  </div>
                </div>
                <div>
                  <p>Compacto de lujo.</p>
                  <p><a href="#" class="btn btn-primary btn-sm">Rentar Ahora</a></p>
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">

            <div class="listing d-block  align-items-stretch">
              <div class="listing-img h-100 mr-4">
                <img src="img/car4.png" alt="Image" class="img-fluid">
              </div>
              <div class="listing-contents h-100">
                <h3>HYUNDAI TUCSON</h3>
                <div class="rent-price">
                  <strong>$232.500</strong><span class="mx-1">/</span>Día
                </div>
                <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                  <div class="listing-feature pr-4">
                    <span class="caption">Equipaje:</span>
                    <span class="number">6</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Puertas:</span>
                    <span class="number">4</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Pasajeros:</span>
                    <span class="number">5</span>
                  </div>
                </div>
                <div>
                  <p>Estandar Suv.</p>
                  <p><a href="#" class="btn btn-primary btn-sm">Rentar Ahora</a></p>
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">

            <div class="listing d-block  align-items-stretch">
              <div class="listing-img h-100 mr-4">
                <img src="img/car5.png" alt="Image" class="img-fluid">
              </div>
              <div class="listing-contents h-100">
                <h3>WOLSVAGEN TIGUAN</h3>
                <div class="rent-price">
                  <strong>$276.745</strong><span class="mx-1">/</span>Día
                </div>
                <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                  <div class="listing-feature pr-4">
                    <span class="caption">Equipaje:</span>
                    <span class="number">7</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Puertas:</span>
                    <span class="number">4</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Pasajeros:</span>
                    <span class="number">5</span>
                  </div>
                </div>
                <div>
                  <p>Estandar Suv.</p>
                  <p><a href="#" class="btn btn-primary btn-sm">Rentar Ahora</a></p>
                </div>
              </div>

            </div>
          </div>
          

          <div class="col-md-6 col-lg-4 mb-4">

            <div class="listing d-block  align-items-stretch">
              <div class="listing-img h-100 mr-4">
                <img src="img/car6.png" alt="Image" class="img-fluid">
              </div>
              <div class="listing-contents h-100">
                <h3>JEEP CHEROKEE</h3>
                <div class="rent-price">
                  <strong>$291.000</strong><span class="mx-1">/</span>Día
                </div>
                <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                  <div class="listing-feature pr-4">
                    <span class="caption">Equipaje:</span>
                    <span class="number">8</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Puertas:</span>
                    <span class="number">4</span>
                  </div>
                  <div class="listing-feature pr-4">
                    <span class="caption">Pasajero:</span>
                    <span class="number">5</span>
                  </div>
                </div>
                <div>
                  <p>Camioneta 4x4.</p>
                  <p><a href="#" class="btn btn-primary btn-sm">Rentar Ahora</a></p>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
<br>
<br>
<br>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h2 class="section-heading"><strong>Caracteristicas</strong></h2>
            <p class="mb-5">Alquiler de carros Colombia al mejor precio, las tarifas más bajas en alquiler de carros en Colombia.</p>    
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 mb-5">
            <div class="service-1 dark">
              <span class="service-1-icon">
                <span class="icon-home"></span>
              </span>
              <div class="service-1-contents">
                <h3>SERVICIO 24 HORAS</h3>
                <p>Nuestro clientes disponen de una asistencia de 24 horas de emergencia de manera permanente durante los 365 días al año. Así mismo de nuestro contacto center mantenemos sistemas de comunicación bidireccional continua.</p>
               </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5">
            <div class="service-1 dark">
              <span class="service-1-icon">
                <span class="icon-gear"></span>
              </span>
              <div class="service-1-contents">
                <h3>SEGURO PARCIAL</h3>
                <p>Este amparo solo cubre el 80% en caso de siniestro, hurto o cualquier eventualidad ;. ESTE SEGURO BÁSICO ESTA INCLUIDO EN EL VALOR DE LA RENTA. aplica condiciones y restricciones</p>
               </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5">
            <div class="service-1 dark">
              <span class="service-1-icon">
                <span class="icon-watch_later"></span>
              </span>
              <div class="service-1-contents">
                <h3>SEGURO TOTAL</h3>
                <p>Esta SEGURO ampara el 100% DE LA TOTALIDAD DEL VEHÍCULO FRENTE A CUALQUIER SINIESTRO O HURTO. Aplica condiciones y restricciones</p>
               </div>
            </div>
          </div>

   
          </div>
        </div>
    </div>
