@page "/"

<h1>Bienvenido a Rodando Por Colombia</h1>

<!--Welcome to your new app.-->

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h2 class="card-title">6</h2>
    <h6 class="card-subtitle mb-2 text-muted">Usuarios registrados</h6>
    <a href="#" class="card-link">+ Más</a>
  </div>
</div>